.idea/
**/target/
*.class
*.log
*.jar
*.war
*.ear
*.iml
.settings/
.DS_Store
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
local.properties
*.swp
bin/
.project
.classpath

# maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# IntelliJ
out/
*.ipr
*.iws

# VS Code
.vscode/

#Docker local data
deploy/data

# Generated OpenAPI client code
**/src/main/java/com/orderengine/client/**/gen/

#logs
*.log
logs/

#OS
.DS_Store
Thumbs.db

