<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="SERVICE_NAME"/>

    <springProfile name="local,dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{ISO8601} [%thread] %-5level ${APP_NAME} [%X{correlationId:-}] [%X{traceId:-}] %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="PACKAGE_ROOT" level="DEBUG"/>
        <logger name="com.orderenngine.common.filter.ApiAccessLogFilter" level="INFO"/>
    </springProfile>
</configuration>